In [1]:
import geopandas as gpd

In [7]:
allhouses = gpd.read_file('clustersKmeans.shp')
ClusterCentreHouses = gpd.read_file('test-version2.shp')
allhouses

,name,fclass,osm_id,long,latt,cluster,geometry
0,The Hague Tower,building,37774391,4.324224,52.071575,3603,POINT (4.32422 52.07158)
1,None,building,58350937,4.319504,52.019770,1403,POINT (4.31950 52.01977)
2,Weth. Brederode-flat,building,58570300,4.313614,52.030866,3844,POINT (4.31361 52.03087)
3,Burg. Bogaardt-flat,building,58570301,4.313480,52.031554,41,POINT (4.31348 52.03155)
4,None,building,58570732,4.310517,52.043046,2210,POINT (4.31052 52.04305)
...,...,...,...,...,...,...,...
93480,None,building,772533010,4.274492,52.050658,1352,POINT (4.27449 52.05066)
93481,None,building,772538264,4.295209,52.028417,4540,POINT (4.29521 52.02842)
93482,None,building,772538276,4.289508,52.027754,4346,POINT (4.28951 52.02775)
93483,None,building,772845734,4.404999,52.066361,3448,POINT (4.40500 52.06636)
93484,None,building,772845735,4.405458,52.065238,891,POINT (4.40546 52.06524)

In [16]:
ClusterCentreHouses = ClusterCentreHouses.drop('geometry', axis=1)
Allhousesdistances = allhouses.merge(ClusterCentreHouses, left_on = 'cluster', right_on = 'cluster').drop_duplicates('osm_id_x')

In [17]:
Allhousesdistances.columns
Allhousesdistances1 = Allhousesdistances[['name_x', 'fclass_x', 'osm_id_x', 'long_x', 'latt_x', 'cluster','C_PTS', 'D_C_PTS', 'C_Super', 'D_C_Super', 'C_DoctorsI', 'D_C_Doctor',
       'C_SchoolsI', 'D_C_School', 'C_SportID_', 'D_C_Sport1', 'Accessibil',
       'geometry']].rename(columns = { 'long_x': 'long', 'latt_x': 'latt', 'osm_id_x': 'osm_id','fclass_x':'fclass'})
Allhousesdistances1.to_file('allhousesclustered.shp')