In [1]:
import pandas as pd
import geopandas as gpd
from simpledbf import Dbf5
dbf = Dbf5(r"C:\Users\bruno\Bureau RMC Dropbox\2. RMC Intern\1. Bureau\3. Stagiairs\Bruno\BHermans\qgis\od-matrix.dbf")
df = dbf.to_dataframe()
df

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

,origin_id,destinatio,entry_cost,network_co,exit_cost,total_cost
0,267999488,1013285,0.000131,7457.335553,0.000039,7457.335722
1,267999488,1013304,0.000131,8473.856596,0.000019,8473.856745
2,267999488,1013306,0.000131,8457.703172,0.000023,8457.703326
3,267999488,103939,0.000131,6254.989290,0.000077,6254.989498
4,267999488,103942,0.000131,3949.918676,0.000141,3949.918947
...,...,...,...,...,...,...
5424623,264826291,96491,0.000205,2704.520651,0.000024,2704.520881
5424624,264826291,979780,0.000205,6330.857063,0.000005,6330.857272
5424625,264826291,980432,0.000205,9549.746337,0.000001,9549.746543
5424626,264826291,980448,0.000205,10257.188898,0.000013,10257.189115
5424627,264826291,980476,0.000205,6490.401930,0.000048,6490.402183

In [2]:
df = df.pivot(index = 'origin_id', columns = 'destinatio', values = 'total_cost')
df

destinatio,1013285,1013304,1013306,103939,103942,103943,103945,103947,103948,103952,...,937585,937586,937597,96488,96489,96491,979780,980432,980448,980476
origin_id,,,,,,,,,,,,,,,,,,,,,
223596226,3114.290034,4822.190593,4806.037173,5252.476144,2896.807247,4843.638044,5022.821118,7584.517005,1940.559942,9179.251434,...,977.341546,903.595150,3789.780312,2249.307601,1908.376620,1885.186860,5854.477448,9073.366719,9780.809291,7149.431907
228895317,9026.835469,10398.737581,10382.584162,8189.906353,5355.176955,7268.082573,8489.525768,5603.580071,5120.054093,3282.909202,...,6885.895559,6930.882074,4959.805737,5103.897806,5115.690620,5517.468542,745.566782,4421.728227,4573.261342,7252.200873
229070095,7836.541645,9152.946413,9136.792993,6944.115185,4109.385787,6022.291405,7243.734600,4551.488049,3929.760269,4147.984951,...,5695.601735,5769.348136,3714.014569,3825.287809,3925.396796,4327.174718,1215.571479,5500.605684,5652.138800,7510.672964
250668900,2801.386783,3163.614726,3148.088141,838.560272,2531.494912,273.557260,1162.512637,7566.347988,3782.773116,9449.508652,...,4146.716914,4220.463315,2846.965624,3502.729757,3814.956398,3448.266166,7413.596996,11538.424320,11689.957435,11742.573164
250668956,1536.832091,1252.976096,1236.822676,1417.979571,4266.271316,2215.228153,1089.640528,9542.957345,4705.689295,11426.118009,...,3697.653729,3623.907333,4812.014635,4878.163158,4673.505972,4247.456579,8995.654680,12876.194601,13583.637173,11507.309422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763974057,9414.513930,10408.562775,10392.409355,8189.695528,5907.097155,7267.871748,8489.314942,2356.134671,6681.103396,7083.326780,...,8000.894455,8074.640856,4877.593051,6376.365998,6713.286678,6632.762419,8046.807130,11957.410699,12105.277321,13928.487009
763974482,10282.429583,11350.144138,11333.990719,9131.728569,6758.779490,8209.904789,9431.347984,1276.800610,6836.572880,5902.256744,...,8670.577676,8744.324077,5752.532866,6531.835482,6868.756162,7135.702337,6890.715534,10776.340663,10924.207286,12991.854288
771258791,7585.155339,8813.281855,8797.128436,6594.866286,3839.687878,5673.042506,6894.485701,2972.178176,3812.197748,3865.748690,...,5751.486064,5825.232465,3215.670582,3612.743870,3844.381030,4216.610725,2856.477552,6925.786462,7073.653085,8921.447978
771258807,7714.924098,8990.032304,8973.878885,6771.616735,3969.456638,5849.792955,7071.236150,3149.627006,3941.966508,3704.364093,...,5881.254823,5955.001224,3392.421031,3742.512630,3974.149790,4346.379485,2819.453120,6888.762030,7036.628652,8884.423545
771259873,8969.739260,10073.948735,10057.795315,7855.533165,5224.271800,6933.709385,8155.152580,1821.173537,5220.801960,3604.142518,...,7136.069986,7209.816387,4476.337462,4997.327792,5252.985242,5601.194647,4419.838908,8321.964028,8469.830651,10486.941480

In [3]:
df['closest_stop'] = df.idxmin(axis=1)
df

destinatio,1013285,1013304,1013306,103939,103942,103943,103945,103947,103948,103952,...,937586,937597,96488,96489,96491,979780,980432,980448,980476,closest_stop
origin_id,,,,,,,,,,,,,,,,,,,,,
223596226,3114.290034,4822.190593,4806.037173,5252.476144,2896.807247,4843.638044,5022.821118,7584.517005,1940.559942,9179.251434,...,903.595150,3789.780312,2249.307601,1908.376620,1885.186860,5854.477448,9073.366719,9780.809291,7149.431907,1525863
228895317,9026.835469,10398.737581,10382.584162,8189.906353,5355.176955,7268.082573,8489.525768,5603.580071,5120.054093,3282.909202,...,6930.882074,4959.805737,5103.897806,5115.690620,5517.468542,745.566782,4421.728227,4573.261342,7252.200873,16085
229070095,7836.541645,9152.946413,9136.792993,6944.115185,4109.385787,6022.291405,7243.734600,4551.488049,3929.760269,4147.984951,...,5769.348136,3714.014569,3825.287809,3925.396796,4327.174718,1215.571479,5500.605684,5652.138800,7510.672964,16669
250668900,2801.386783,3163.614726,3148.088141,838.560272,2531.494912,273.557260,1162.512637,7566.347988,3782.773116,9449.508652,...,4220.463315,2846.965624,3502.729757,3814.956398,3448.266166,7413.596996,11538.424320,11689.957435,11742.573164,825990
250668956,1536.832091,1252.976096,1236.822676,1417.979571,4266.271316,2215.228153,1089.640528,9542.957345,4705.689295,11426.118009,...,3623.907333,4812.014635,4878.163158,4673.505972,4247.456579,8995.654680,12876.194601,13583.637173,11507.309422,1534390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763974057,9414.513930,10408.562775,10392.409355,8189.695528,5907.097155,7267.871748,8489.314942,2356.134671,6681.103396,7083.326780,...,8074.640856,4877.593051,6376.365998,6713.286678,6632.762419,8046.807130,11957.410699,12105.277321,13928.487009,1356197
763974482,10282.429583,11350.144138,11333.990719,9131.728569,6758.779490,8209.904789,9431.347984,1276.800610,6836.572880,5902.256744,...,8744.324077,5752.532866,6531.835482,6868.756162,7135.702337,6890.715534,10776.340663,10924.207286,12991.854288,1531902
771258791,7585.155339,8813.281855,8797.128436,6594.866286,3839.687878,5673.042506,6894.485701,2972.178176,3812.197748,3865.748690,...,5825.232465,3215.670582,3612.743870,3844.381030,4216.610725,2856.477552,6925.786462,7073.653085,8921.447978,652097
771258807,7714.924098,8990.032304,8973.878885,6771.616735,3969.456638,5849.792955,7071.236150,3149.627006,3941.966508,3704.364093,...,5955.001224,3392.421031,3742.512630,3974.149790,4346.379485,2819.453120,6888.762030,7036.628652,8884.423545,16561
771259873,8969.739260,10073.948735,10057.795315,7855.533165,5224.271800,6933.709385,8155.152580,1821.173537,5220.801960,3604.142518,...,7209.816387,4476.337462,4997.327792,5252.985242,5601.194647,4419.838908,8321.964028,8469.830651,10486.941480,16471

In [4]:
Origins = df.index.tolist()
Closeststops = df['closest_stop'].tolist()
Distance = []
for i in range(6014):
    Origin = Origins[i]
    Destination = Closeststops[i]
    Distance.append(df.loc[Origin, Destination])
df1 = pd.DataFrame({'Origin': Origins, 'Destination': Closeststops, 'Distance_to_PT':Distance})
df1

         Origin Destination  Distance_to_PT
0     223596226     1525863      341.433498
1     228895317       16085      190.588901
2     229070095       16669      542.478848
3     250668900      825990      229.244565
4     250668956     1534390      292.752300
...         ...         ...             ...
6009  763974057     1356197     1218.043298
6010  763974482     1531902     1246.327678
6011  771258791      652097       52.496646
6012  771258807       16561      152.899499
6013  771259873       16471      512.029987

[6014 rows x 3 columns]

In [5]:
df1.to_excel('closeststops.xlsx')

In [6]:
gdf = gpd.read_file(r"C:\Users\bruno\Documents\J3Q3-4 BEP\repositories\buildingsclosesttocenter.shp")
gdf

,name,fclass,osm_id,long,latt,cluster,longdiff,Lattdiff,Euclidian,geometry
0,None,building,267999488,4.259434,52.049581,0,0.000143,0.000003,0.000143,POINT (4.25943 52.04958)
1,None,building,265070349,4.343525,52.054926,1,0.000123,0.000084,0.000149,POINT (4.34353 52.05493)
2,None,building,267555805,4.280483,52.084788,2,0.000014,0.000053,0.000055,POINT (4.28048 52.08479)
3,None,building,255149925,4.415170,52.061477,3,0.000115,0.000116,0.000163,POINT (4.41517 52.06148)
4,None,building,265477156,4.301079,52.030911,4,0.000096,0.000038,0.000103,POINT (4.30108 52.03091)
...,...,...,...,...,...,...,...,...,...,...
6009,None,building,265705659,4.323908,52.041390,5995,0.000077,0.000029,0.000082,POINT (4.32391 52.04139)
6010,None,building,267790175,4.261039,52.078407,5996,0.000115,0.000047,0.000124,POINT (4.26104 52.07841)
6011,None,building,265071405,4.344107,52.059060,5997,0.000030,0.000086,0.000091,POINT (4.34411 52.05906)
6012,None,building,267533186,4.278420,52.064253,5998,0.000019,0.000104,0.000105,POINT (4.27842 52.06425)
6013,None,building,264826291,4.338082,52.082371,5999,0.000084,0.000140,0.000163,POINT (4.33808 52.08237)

In [7]:
gdf1 = gdf.merge(df1, left_on = 'osm_id', right_on = 'Origin')
gdf1.to_file('housesincludingdistancecloseststop.shp')

In [9]:
gdf1

,name,fclass,osm_id,long,latt,cluster,longdiff,Lattdiff,Euclidian,geometry,Origin,Destination,Distance_to_PT
0,None,building,267999488,4.259434,52.049581,0,0.000143,0.000003,0.000143,POINT (4.25943 52.04958),267999488,652095,238.997482
1,None,building,265070349,4.343525,52.054926,1,0.000123,0.000084,0.000149,POINT (4.34353 52.05493),265070349,480300,348.614352
2,None,building,267555805,4.280483,52.084788,2,0.000014,0.000053,0.000055,POINT (4.28048 52.08479),267555805,16647,101.205184
3,None,building,255149925,4.415170,52.061477,3,0.000115,0.000116,0.000163,POINT (4.41517 52.06148),255149925,651858,1125.415327
4,None,building,265477156,4.301079,52.030911,4,0.000096,0.000038,0.000103,POINT (4.30108 52.03091),265477156,1400191,331.874966
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6009,None,building,265705659,4.323908,52.041390,5995,0.000077,0.000029,0.000082,POINT (4.32391 52.04139),265705659,16732,128.737307
6010,None,building,267790175,4.261039,52.078407,5996,0.000115,0.000047,0.000124,POINT (4.26104 52.07841),267790175,1541931,395.267447
6011,None,building,265071405,4.344107,52.059060,5997,0.000030,0.000086,0.000091,POINT (4.34411 52.05906),265071405,16482,34.468616
6012,None,building,267533186,4.278420,52.064253,5998,0.000019,0.000104,0.000105,POINT (4.27842 52.06425),267533186,16025,184.221788
6013,None,building,264826291,4.338082,52.082371,5999,0.000084,0.000140,0.000163,POINT (4.33808 52.08237),264826291,16253,238.083857